* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    height: 900px;
    background-image: url(https://cdn.hipwallpaper.com/i/46/69/zKF0oA.jpg);
/*fixare il background su sfondo */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

header {
    background-image: url(https://images.unsplash.com/photo-1488646953014-85cb44e25828?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ);
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    border-radius: 0 0 85% 85%/30%;

}
header .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    margin-top: 60px;
}
.primary-navigation {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgb(247, 216, 216);
    color: grey;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.dropdown {
    font-size: 18px;
    text-shadow: none;
    text-shadow: 1px 1px 1px rgb(247, 216, 216);
}

nav {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul li {
    list-style: none;
    margin: 10px auto;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;


}

li a {
    color: rgb(0, 0, 0);


}

li a:hover {
    color: rgb(158, 55, 55);
}

li:hover {
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    opacity: 5px;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: rgba(209, 198, 198, 0);
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px rgba(204, 204, 204, 0);
}

ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid rgb(158, 55, 55);
    transition: all 0.3s ease;
}

a {
    text-decoration: none;

    border-radius: 0 0 10px 7px;
}

ul li ul li a {
    transition: all 0.5s ease;
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    color: rgb(200, 195, 209);
    font-weight: bold;
    text-shadow: 2px 2px 2px #333;
}

.choose {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color: rgb(200, 195, 209);
    font-weight: bold;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    margin-bottom: 10px
}

.logo {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
  
}   

.citta,
h2 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px #333;
    color: rgb(0, 0, 0);
}


/*button Block*/
ul{ display: flex;
flex-direction:row;
flex-wrap:wrap;
justify-content: center;}

.fixed {overflow: auto;}


button {
    border: solid 2px rgba(255, 255, 255, 0);
    outline: none;
    border-radius: 200px;
    margin-bottom: 50px;
    width: 95px;
    height: 58px;
    margin-right: 8px;
    backface-visibility: hidden;   
    transition: all ease 0.5s;

}

button:hover {
    border: groove 4px rgba(223, 22, 22, 0.815);
    
}

/*Ancore Button*/
.Europa {
    background: url(../../image/Flag_Europe.jpg);
}

.America {
    background: url(../../image/Flag_america.png);
    background-repeat: no-repeat;
}

.Africa {
    background: url(../../image/Flag_Africa.png);
    width: 98px;
    background-repeat: round;
}

.Asia {
    background: url(../../image/flag_japan.png);
    width: 98px
}

.SudAmerica {
    background: url(../../image/flag_Brasil.png);
}

.Oceania {
    background: url(../../image/Flag_Australia.png);
    background-repeat: no-repeat;
}



/*banner block.
esercizi con:
viewport misure 
calc
var*/

.banner {
    margin-left: calc(50% - 50vw);
    width: 100vw;
    height: 37.5vmin;
    min-height: 15em;
    background: var(--img) 50%/ cover;
    /*linear-gradient(#000, transparent, #000)*/
    background-attachment: fixed;
    background-blend-mode: multiply;
}


.Banner_2:hover {
    background-color: rgba(255, 255, 255, 0);

}
.choose2 {
    margin-top: 25px;
    font-family: Fondamento, cursive;
    margin-bottom: 30px;
    text-align: justify;
    font-size: 25px;
    color: rgba(200, 195, 209, 0.795);
    text-shadow: 5px 5px 5px #333;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.116);
  }
/*banner a scorrimento, var(--img)*/

.banner:nth-of-type(1) {
    --img: url(https://media-exp1.licdn.com/dms/image/C4D1BAQEuaQAhY2RMEQ/company-background_10000/0/1582917414821?e=2159024400&v=beta&t=Ur-lfuKLIeLyLqlXMCm_rX4D-enXaIxF5tU18WxXVbw);
}

.banner:nth-of-type(2) {
    --img: url(https://wallpapercave.com/wp/wp4171270.jpg);
}

.banner:nth-of-type(3) {
    --img: url(https://wallpaperbat.com/img/142465-travel-1440p-resolution-hd-4k-wallpaper-image.jpg)
}

.banner:nth-of-type(4) {
    --img: url(https://hotcorn-cdn.s3.amazonaws.com/wp-content/uploads/sites/2/2020/04/28105318/into-the-wild-4.jpg)
}

.banner:nth-of-type(5) {
    --img: url(https://hotcorn-cdn.s3.amazonaws.com/wp-content/uploads/sites/2/2020/04/28105318/into-the-wild-4.jpg)
}

.banner:nth-of-type(6) {
    --img: url(https://hotcorn-cdn.s3.amazonaws.com/wp-content/uploads/sites/2/2020/04/28105318/into-the-wild-4.jpg)
}



footer{
    margin-top: 0px;
    background-color: #000;
    overflow: auto;
    height: 15%;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 15px;
    color: rgb(57, 57, 57);



}
