@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*start menu part*/

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}


nav {
  margin: 0 auto;
  display: block;
  font-size: 16px;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  list-style: none;
  margin: 10px auto;
  display:inline-block;
  padding: 0 30px;
  position:relative;
  text-decoration: none;
  text-align: center;
}

li a {
  color: rgb(0, 0, 0);


}

li a:hover {
  color: rgb(158, 55, 55);
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 5px;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: rgba(209, 198, 198, 0);
}

ul li:hover>ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
 }

ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
  border-style: none;

}

ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid rgb(158, 55, 55);
  transition: all 0.3s ease;
  

}

.primary-navigation {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgb(247, 216, 216);
  color: grey;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 150px;
}

.dropdown {
  font-size: 18px;
  text-shadow: none;
  text-shadow: 1px 1px 1px rgb(247, 216, 216)

}

a {
  text-decoration: none;
  border-radius: 0 0 10px 7px;
}

ul li ul li a {
  transition: all 0.5s ease;
}

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
    height: 900px;
    background-image: url(https://cdn.hipwallpaper.com/i/46/69/zKF0oA.jpg);
/*fixare il background su sfondo */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #000000;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #000000;
  max-width: 768px;
  margin: 10px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

.underline {
  border-bottom: solid 2px #000000;
  margin: 5px auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #000000;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #000000;
	color: #000000;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
  font-weight: bold;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
 
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
  font-weight: bold;
}

::-webkit-input-placeholder {
	color: #000000;
}

:-moz-placeholder { 
	color: #000000;
	opacity: 1;
}

::-moz-placeholder {
	color: #000000;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #000000;
}

#form_button {
  background: none;
  border: solid 2px #000000;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
  font-weight: bold;
}

#form_button:hover {
  background: #474544;
  color: #00000071;
  box-shadow: 0px 0px 0px -0px rgba(204, 204, 204, 0);
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;

  }
}
footer {
  margin-top: 50px;
  background-color: #000;
  overflow: auto;
  height: 15%;
  margin-bottom: 0px;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 10px;
  color: rgb(57, 57, 57);
  font-size: 13.9px;
}



.center {
  display: table;
  width: 100%;
}

#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
    color: rgb(5, 5, 5);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
}
  .social {
    padding-left: 0px;
  }


.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}