
/*start menu part*/

nav {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 16px;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  list-style: none;
  margin: 10px auto;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
 
  
}

li a {
  color: rgb(0, 0, 0);


}

li a:hover {
  color: rgb(158, 55, 55);
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 5px;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: rgba(209, 198, 198, 0);
}

ul li:hover>ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px rgba(204, 204, 204, 0);
 }

ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;

}

ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid rgb(158, 55, 55);
  transition: all 0.3s ease;
  

}

.primary-navigation {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px rgb(247, 216, 216);
  color: grey;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown {
  font-size: 18px;
  text-shadow: none;
  text-shadow: 1px 1px 1px rgb(247, 216, 216);

}

a {
  text-decoration: none;
  box-shadow: 0px 3px 5px -1px rgb(0, 0, 0);
  border-radius: 0 0 10px 7px;
}

ul li ul li a {
  transition: all 0.5s ease;
}

/*End menu part*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


body {
  height: 1000px;
  background-image: url(https://cdn.hipwallpaper.com/i/46/69/zKF0oA.jpg);
  /*fixare il background su sfondo */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}


header {
  background-image: url(https://wallpaperaccess.com/full/115103.jpg);
  text-align: center;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  border-radius: 0 0 85% 85%/30%;


}

header .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;

}


h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  /* Italy Flag*/
  background: linear-gradient(90deg, rgba(0, 140, 69, 1) 35%, rgba(244, 245, 240, 1) 50%, rgba(205, 33, 42, 1) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;



}

.choose {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  color: rgb(200, 195, 209);
  font-weight: bold;
  text-shadow: 2px 2px 2px #333;
  margin-bottom: 10px;
}

.quotes {
  overflow: auto;
  height: 15%;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 1px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: rgb(189, 161, 161);
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  margin-top: 25px;

}

/* Start Trips option */

.wrapper {
  margin: 50px;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  height: 420px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
  border: groove;
}

.product-info {
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: rgba(0, 0, 0, 0.122);

}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 38px 0 38px;
  padding-top: 30px;
  font-size: 34px;
  color: rgb(143, 180, 95);
  font-size: 45px;
 
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(221, 203, 203);
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: rgb(238, 226, 226);
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 1 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: rgb(255, 255, 255);

}

span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

/* Button  Style */

.product-price-btn button {
  float: right;
  display: block;
  height: 50px;
  width: 176px;
  margin: 0 80px 0 100px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgb(0, 0, 0);
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
  align-content: center;
}

.product-price-btn button:hover {
  background-color: rgb(19, 85, 67);
}

.city {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.choose2 {
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  text-align: justify;
  font-size: 20px;
  color: rgba(200, 195, 209, 0.795);
  font-weight: bold;
  text-shadow: 5px 5px 5px #333;
  margin-bottom: 10px;
  padding-right: 140px;
  padding-left: 140px;
  
}