* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 900px;
    background-image: url(https://cdn.hipwallpaper.com/i/46/69/zKF0oA.jpg);
    /*fixare il background su sfondo */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


header {
    background-image: url(https://wallpapercave.com/wp/wp1929639.jpg);
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    border-radius: 0 0 85% 85%/30%;
}

header .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;

}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    color: rgb(253, 251, 255);
    font-weight: bold;
    text-shadow: 2px 2px 2px #333;
}


.primary-navigation {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgb(247, 216, 216);
    color: grey;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.dropdown {
    font-size: 18px;
    text-shadow: none;
    text-shadow: 1px 1px 1px rgb(247, 216, 216);
}

nav {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul li {
    list-style: none;
    margin: 10px auto;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;


}

li a {
    color: rgb(0, 0, 0);


}

li a:hover {
    color: rgb(158, 55, 55);
}

li:hover {
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    opacity: 5px;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: rgba(209, 198, 198, 0);
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px rgba(204, 204, 204, 0);
}

ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid rgb(158, 55, 55);
    transition: all 0.3s ease;
}

a {
    text-decoration: none;

    border-radius: 0 0 10px 7px;
}

ul li ul li a {
    transition: all 0.5s ease;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

}

.choose {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    color: rgb(239, 237, 243);
    font-weight: bold;
    text-shadow: 2px 2px 2px #333;
    margin-bottom: 10px
}

section {
    margin-top: 15px;
    display: flex;
    flex-direction: column row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;


}

@media screen and (min-width: 375px) {
    .Mapeurope {
        overflow: auto;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        display: block;
        padding: 15px;
        border: 15PX groove rgba(91, 58, 41, 0.822);
        background-color: rgb(0, 0, 0);

    }
}

[title] {
    transition: all 0.0s;
    visibility: visible;

}

.citta,
h2 {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    font-size: 55px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px #333;
    color: rgb(245, 244, 248);
}


footer {
    margin-top: 100px;
    background-color: #000;
    overflow: auto;
    height: 15%;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 10px;
    color: rgb(57, 57, 57);
}
